/* 
  此文件用于重置html5的默认样式，
  与项目相关的样式不要放在此文件内 
*/

// --------------- reset 浏览器默认 -------------------------

// ---重置盒模型----

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//------------------

//---重置边距--------

body,
dl,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
textarea,
input {
  padding: 0;
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
}

// ---------------

ol,
ul {
  list-style-type: none;
}

i {
  font-style: normal;
}

ul {
  list-style-type: none;
}

input,
textarea,
button {
  background: none;
  outline: none;
  border: none;
}

img {
  user-select: none;
  &[src=''],
  &:not([src]) {
    opacity: 0;
  }
}

button {
  user-select: none;
  cursor: pointer;
  &.no-pointer,
  &[disabled] {
    cursor: default;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// --------------------------------------------------------------

// ----------------------选择文本相关-----------------------------

.select-none {
  user-select: none;
}

.select-text {
  user-select: text;
}

// --------------------------------------------------------------

// ------------------------滚动条---------------------------------

::-webkit-input-placeholder {
  color: #b2b2b2;
  font-size: 14px;
  font-family: 'microsoft yahei';
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 3.5px;
}

::-webkit-scrollbar-track-piece {
  background: #efefef;
}

// --------------------------------------------------------------

// ------------------------去除边框-------------------------------

.no-border {
  border: none;
  outline: none;
}

// --------------------------------------------------------------

// ------------------------光标手势-------------------------------

.pointer {
  cursor: pointer;
  user-select: none;
}

// --------------------------------------------------------------

// ------------------------清除浮动-------------------------------

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// ----------------------------------------------------------------

// ------------------------行内块盒模型-----------------------------

.inline-box {
  font-size: 0px;
  &.v-center::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
  }
  &.justify {
    text-align: justify;
  }
  &.justify::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
  }
}

// --------------------------------------------------------------

// -----------------------文本溢出处理------------------------------

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  &.sl /*single-line*/ {
    white-space: nowrap;
  }
  &.ml /*multi-line*/ {
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

// --------------------------------------------------------------

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: #666;
  font: 16px / 1 'Microsoft YaHei', 'Microsoft YaHei-Regular';
  word-break: break-all;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
}

/* 
  此文件用于重置html5的默认样式，
  与项目相关的样式不要放在此文件内 
*/
